@page
@{
    ViewData["Title"] = "BENN's Curbside Pickup - Payment Successful";
}

<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Ensures optimal rendering on mobile devices. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->
</head>

<body>
    <div>
        <h3>Payment Done Successfully !!! </h3>
        <p>Your Order will arrive soon. </p>
    </div>

</body>

</html>
