@page
@{
    ViewData["Title"] = "BENN's Curbside Pickup - Payment Successful";
}

<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Ensures optimal rendering on mobile devices. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <div>
        <h1>Payment Done Successfully !!! </h1>
        <h1>Your Order will arrive soon. </h1>
    </div>

</body>

</html>
